@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Controle de Funcionarios</h1>
    <p>Use o menu para navegar nas funções.</p>

    <center>Desenvolvido por Caio Barbosa</center>

</div>
