@model ControleFuncionarios.Models.HorarioTrabalho

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Horario de Trabalho</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Codigo" />
            <div class="form-group">
                <!--ELEMENTOS ESCONDIDOS-->
                <label asp-for="Funcionario_codigo" class="control-label" hidden></label>
                <input asp-for="Funcionario_codigo" class="form-control" hidden />
                <span asp-validation-for="Funcionario_codigo" class="text-danger" hidden></span>
                
                <label><b>FUNCIONÁRIO SELECIONANDO:</b> @ViewBag.NomeFuncionario</label>

            </div>
            <div class="form-group">
                <label asp-for="Dia_semana" class="control-label"></label>
                <select asp-for="Dia_semana" class="form-control" asp-items=@ViewBag.DiasDaSemana></select>
                <span asp-validation-for="Dia_semana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora_ini" class="control-label"></label>
                <input asp-for="Hora_ini" class="form-control" />
                <span asp-validation-for="Hora_ini" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora_fim" class="control-label"></label>
                <input asp-for="Hora_fim" class="form-control" />
                <span asp-validation-for="Hora_fim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tempo_descanso" class="control-label"></label>
                <input asp-for="Tempo_descanso" class="form-control" />
                <span asp-validation-for="Tempo_descanso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ch" class="control-label"></label>
                <input asp-for="ch" class="form-control" />
                <span asp-validation-for="ch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a Lista!</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
